<template>
  <div class="address-form">
    <FormulateInput
      label="Населенный пункт"
      type="text"
      name="city"
      validation="required"
      :validation-messages="{
          required: 'обязательное поле'
        }"
    />
    <FormulateInput
      label="Улица"
      type="text"
      name="street"
      validation="required"
      :validation-messages="{
        required: 'обязательное поле'
      }"
    />
    <FormulateInput
      label="Дом"
      type="text"
      name="house"
      validation="required"
      :validation-messages="{
        required: 'обязательное поле'
      }"
    />
    <FormulateInput
      label="Квартира"
      type="text"
      name="apartment"
      validation="required"
      :validation-messages="{
        required: 'обязательное поле'
      }"
    />
    <p class="hint">
      Подъезд, этаж, домофон и дургие данные,
      которые помогут курьеру быстрее найти ваше местоположение
    </p>
  </div>
</template>

<script>
export default {
  name: 'AddressForm'
}
</script>

<style scoped>
.hint {
  font-size: 14px;
  color: #B1B1B1;
}
</style>
