<template>
  <div class="contacts-form">
    <FormulateForm
      @submit="submit"
      class="form"
      v-model="formValues"
    >
      <FormulateInput
        label="Имя"
        type="text"
        name="firstName"
        validation="required"
        :validation-messages="{
          required: 'обязательное поле'
        }"
      />
      <FormulateInput
        label="Фамилия"
        type="text"
        name="lastName"
        validation="required"
        :validation-messages="{
          required: 'обязательное поле'
        }"
      />
      <FormulateInput
        label="Телефон"
        type="text"
        v-mask="'+7 (###) ###-####'"
        placeholder="+7 (___) ___-____"
        name="phone"
        validation="required"
        :validation-messages="{
          required: 'обязательное поле'
        }"
      />
      <FormulateInput
        label="Email"
        type="email"
        name="email"
        validation="required|email"
        :validation-messages="{
          required: 'обязательное поле',
          email: 'некорректный email'
        }"
      />
      <button
        class="btn btn-primary btn-dark btn-large btn-fixed"
        type="submit"
      >
        Далее
      </button>
    </FormulateForm>
  </div>
</template>

<script>
export default {
  name: 'ContactsForm',
  data() {
    return {
      formValues: {},
    }
  },
  methods: {
    submit() {
      this.$emit('onSubmit', this.formValues);
    }
  }
}
</script>

<style scoped>

</style>
