<template>
  <div class="delivery">
    <p v-if="courierType" class="title">Данные доставки</p>
    <FormulateForm
      class="form"
      v-model="formValues"
    >
      <div v-if="!deliveryType" class="delivery-types">
        <p class="title">Выберите способ доставки</p>
        <div class="buttons">
          <button @click="deliveryType = 'courier'" type="button" class="delivery-type-btn">
            <img class="delivery-icon" src="../../assets/images/delivery.svg" alt="">
            Курьерская служба
          </button>
          <button @click="setPickup" type="button" class="delivery-type-btn">
            <img class="delivery-icon" src="../../assets/images/pin.svg" alt="">
            Самовывоз
          </button>
        </div>
      </div>
      <AddressForm v-if="courierType" />
      <button
        v-if="courierType"
        @click="setDelivery"
        class="btn btn-primary btn-dark btn-large btn-fixed"
      >
        Перейти к оплате
      </button>
    </FormulateForm>
  </div>
</template>

<script>
import AddressForm from './AddressForm';
import Confirm from '../Modals/Confirm';

export default {
  name: 'DeliveryForm',
  components: {
    AddressForm
  },
  data() {
    return {
      formValues: {},
      deliveryType: null,
    }
  },
  computed: {
    deliveryProps() {
      return {
        imgUrl: '../../assets/images/delivery.svg',
        text: `<span class="danger">Внимание!</span> Доставка осуществляется
          <span class="bold">Яндекс</span> курьером,
          стоимость расчитывается индивидуально в зависимости от вашего местоположения!
          Наш оператор созвонится с вами и озвучит стоимость доставки.`,
        action: () => {
          this.submit().bind(this);
        }
      }
    },
    pickupProps() {
      return {
        imgUrl: '../../assets/images/pin.svg',
        text: `<span class="danger">Внимание!</span>
          Ваш заказ вы сможете забрать по адресу Mega Park,  пр. Сейфулина 483, 2 этаж,
          c 09:00 - 22:00 /город Алматы`,
        action: () => {
          this.submit().bind(this);
        }
      }
    },
    courierType() {
      return this.deliveryType === 'courier';
    },
  },
  methods: {
    openConfirmModal(props) {
      this.$FModal.show(
        {
          component: Confirm,
          width: 300,
          maxHeight: '100%',
          placement: 'center center'
        },
        {...props}
      )
    },
    setDelivery() {
      this.openConfirmModal(this.deliveryProps);
    },
    setPickup() {
      this.formValues = {
        city: 'Алматы',
        street: 'Mega Park, пр. Сейфуллина',
        house: '483',
        apartment: '2 этаж',
      };
      this.deliveryType = 'self-pickup';
      this.openConfirmModal(this.pickupProps);
    },
    submit() {
      return this.$emit('onSubmit', {...this.formValues, type: this.deliveryType })
    }
  }
}
</script>

<style scoped>
  .title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
  }
  .form {
    margin-top: 10px;
  }
  .delivery-types {
    margin-top: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .delivery-type-btn {
    display: flex;
    align-items: center;
    border: none;
    background: #FFFFFF;
    padding: 25px;
    text-align: left;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
  }
  .delivery-icon {
    width: 36px;
    height: 36px;
    margin-right: 20px;
  }
</style>
