<template>
  <div class="order-item">
    <img class="order-img" :src="clothes.cover_images[0]" alt="">
    <div class="order-info">
      <p class="brand-title">{{ clothes.clothes_brand.title }}</p>
      <p class="clothes-id">ID изделия:&nbsp;{{ clothes.id }}</p>
      <div class="param-selects">
        <select
          v-model="quantity"
          id="quantity"
          class="select select-lg"
          name="amount"
          @change="emitQuantity"
        >
          <option v-for="(item, index) in 30" :value="item" :key="index">Кол-во {{item}}</option>
        </select>
        <select class="select select-lg" name="cloth-size" id="size">
          <option value="1">Размер M</option>
          <option value="2">Размер L</option>
        </select>
      </div>
      <p class="cost">{{ numberWithSeparators(clothes.cost) }} тг</p>
      <span @click="removeItem(clothes.id)" class="close"></span>
    </div>
  </div>
</template>

<script>
import { numberWithSeparators } from '../../utils';

export default {
  name: 'OrderItem',
  props: {
    clothes: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      quantity: 1,
    }
  },
  mounted() {
    const clothes = JSON.parse(localStorage.getItem('cart-items'));
    this.quantity = Number(clothes.find(item => item.id === this.clothes.id).count) || 1;
    this.emitQuantity();
  },
  methods: {
    removeItem(id) {
      this.$emit('onRemoveCartItem', id)
    },
    emitQuantity() {
      this.$emit('onQuantityChanged', {
        [this.clothes.id]: Number(this.quantity)
      })
    },
    numberWithSeparators
  }
}
</script>

<style scoped>
  .order-img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    margin-right: 12px;
  }
  .order-item {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
  }
  .order-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  .brand-title {
    font-size: 18px;
    font-weight: 600;
  }

  .clothes-id {
    margin-top: 5px;
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 400;
  }

  .close:after {
    content: '';
    width: 10px;
    height: 10px;
    right: 10px;
    top: 18px;
    background: url('../../assets/images/close.svg') no-repeat;
    position: absolute;
  }

  .param-selects {
    margin-top: 10px;
    display: flex;
    width: 180px;
    justify-content: space-between;
  }

  .cost {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
  }
</style>
