<template>
  <div class="sum">
    <div class="sum-delivery">
      <p class="sum-cost"><strong>Подытог&nbsp;</strong>&nbsp;&nbsp;{{ numberWithSeparators(sum) }} тг</p>
      <p class="delivery"><strong>Доставка&nbsp;</strong>&nbsp;&nbsp;{{ numberWithSeparators(delivery) }} тг</p>
    </div>
    <p class="cost">{{ numberWithSeparators(cost) }} тг</p>
  </div>
</template>

<script>
import { numberWithSeparators } from '../../utils';

export default {
  name: 'Sum',
  props: {
    cost: {
      type: Number,
      required: true,
    },
    delivery: {
      type: Number,
      required: true,
    },
    sum: {
      type: Number,
      required: true,
    }
  },
  methods: {
    numberWithSeparators
  }
}
</script>

<style scoped>
  .sum {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sum-delivery {
    display: flex;
    flex-direction: column;
  }
</style>
