<template>
  <div class="sidebar">
    <div class="sidebar-backdrop" @click="closeSidebarPanel" v-if="isPanelOpen"></div>
    <transition name="slide">
      <div v-if="isPanelOpen" class="sidebar-panel">
        <div :class="hasPadding">
        <!--<div class="gender-switch">-->
        <!--  <button class="gen  der-btn">Для него</button>-->
        <!--  <button class="gender-btn">Для нее</button>-->
        <!--</div>-->
          <nav class="links">
            <ul>
              <li class="nav-link">
                <a target="_blank" class="nav-link" href="https://stylyts.flycricket.io/terms.html">
                  <img src="../../assets/images/offer.png" alt="">
                  <p>Публичная оферта</p>
                </a>
              </li>
              <li>
                <a target="_blank" class="nav-link" href="https://stylyts.flycricket.io/privacy.html">
                  <img src="../../assets/images/privacy.png" alt="">
                  <p>Политика конфиденциальности</p>
                </a>
              </li>
            </ul>
          </nav>
          <div class="bottom-app-links">
            <a class="app-link" href="https://www.apple.com/kz/app-store/">
              <img src="../../assets/images/appstore.png" alt="">
            </a>
            <a class="app-link" href="https://play.google.com/store?hl=ru&gl=US">
              <img src="../../assets/images/google-play.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
  name: 'Sidebar',
  props: {
    isPanelOpen: {
      required: true,
      type: Boolean,
    },
  },
  data() {
    return {
      visited: false,
    };
  },
  computed: {
    hasPadding() {
      if (!this.visited) {
        return 'content-with-pt';
      } else {
        return 'content';
      }
    }
  },
  mounted() {
    this.visited = JSON.parse(localStorage.getItem('app-visited'));
  },
  methods: {
    closeSidebarPanel() {
      this.$emit('onBackdropClick');
    },
  },
};
</script>
<style scoped>
.slide-enter-active,
.slide-leave-active
{
  transition: transform 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 200ms ease-in 0s
}

.sidebar-backdrop {
  background-color: rgba(0,0,0,.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar-panel {
  overflow-y: auto;
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  padding: 3rem 20px 2rem 20px;
  width: 80%;
}

.bottom-app-links {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding-top: 20px;
}

.content-with-pt {
  padding-top: 68px;
}

.app-link img {
  width: 90%;
}

.gender-btn {
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 0;
  background: transparent;
}

.gender-btn + .gender-btn {
  margin-left: 15px;
}

.links {
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  font-size: 16px;
  color: #2F3641;
}

.links ul {
  padding: 0;
  list-style-type: none;
}

.links ul > li {
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link p {
  margin-left: 5px;
}
</style>
