<template>
  <div class="confirm">
    <Loading v-if="loading" />
    <div class="content">
      <img class="image" src="../../assets/images/pin.svg" alt="">
      <p class="text" v-html="text"></p>
    </div>
    <a @click="runAction" class="confirm_btn" href="#">
      {{ confirmText }}
    </a>
    <a @click="close" class="decline_btn" href="#">
      Отмена
    </a>
  </div>
</template>

<script>
import Loading from '../Loading';

export default {
  name: 'Confirm',
  components: {
    Loading,
  },
  data() {
    return {
      loading: false
    }
  },
  props: {
    imgUrl: {
      required: true,
      type: String,
    },
    text: {
      required: true,
      type: String
    },
    confirmText: {
      type: String,
      default: 'Cогласен(на), завершить оплату'
    },
    action: {
      type: Function
    }
  },
  methods: {
    close() {
      window.location.href = `${window.location.origin}/s/ikki`;
    },
    runAction() {
      this.loading = true;
      this.action();
    }
  }
}
</script>

<style>
.confirm {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.image {
  padding: 10px;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.confirm_btn {
  color: #22A2EE;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.text {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}

.bold {
  font-weight: bold;
}

.decline_btn {
  color: #F35353;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.danger {
  color: #F35353;
}

a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
}
</style>
