<template>
  <div class="redirect-to-app">
    <p class="title">
      Данная функция доступна только в мобильном приложении, хотите скачать приложение?
    </p>
    <a class="link" href="#">
      Скачать приложение для IOS
    </a>
    <a class="link" href="#">
      Скачать приложение для Android
    </a>
  </div>
</template>

<script>
export default {
  name: 'RedirectToApp'
}
</script>

<style scoped>
  .redirect-to-app {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 16px;
    text-align: center;
  }
  .link {
    margin-top: 20px;
    font-size: 14px;
    color: #07a;
    text-align: center;
    text-decoration: none;
  }
</style>
