<template>
  <div class="wrap">
    <button
      v-if="categoryIds.length"
      class="link-btn"
      @click="reset()"
    >
      Сбросить все
    </button>
    <Accordion class="accordion" v-for="type in types" :key="type.id">
      <template v-slot:header>
        <p>{{ type.title }}</p>
      </template>
      <template v-slot:content>
        <label
          class="form-group"
          v-for="category in getCategoriesByTypeId(type.id)"
          :key="category.id"
          :for="`${category.id}_checkbox`">{{ category.title }}
          <input
            type="checkbox"
            @change="applyCategoryFilter"
            v-model="categoryIds"
            :value="category.id"
            :id="`${category.id}_checkbox`"
            class="filter-checkbox"
          >
          <span class="checkmark"></span>
        </label>
      </template>
    </Accordion>
    <button
      class="btn btn-primary btn-dark btn-large btn-full-w btn-apply"
      @click="showResults"
    >
      {{ emptyFilter ? 'Закрыть': `Показать результаты: ${resultCount}` }}
    </button>
  </div>
</template>

<script>
import Accordion from '../Accordion.vue';

export default {
  name: 'CategoriesFilter',
  components: {
    Accordion,
  },
  props: {
    types: {
      type: Array,
      required: true,
    },
    categories: {
      type: Array,
      required: true,
    },
    resultCount: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    if (this.$route.query.clothes_category) {
      this.categoryIds = this.$route.query.clothes_category.split(',').map((c) => Number(c));
    }
  },
  data() {
    return {
      categoryIds: [],
    };
  },
  computed: {
    emptyFilter() {
      return !this.categoryIds.length && this.resultCount === 0;
    },
  },
  methods: {
    getCategoriesByTypeId(typeId) {
      return this.categories.filter((category) => category.clothes_type.id === typeId);
    },
    applyCategoryFilter() {
      if (this.categoryIds.length) {
        this.$emit('onCategoryFilterFired', {
          clothes_category: this.categoryIds.reduce((f, s) => `${f},${s}`),
        });
      } else {
        this.$router.replace({
          path: this.$route.path,
        });
        this.$emit('onCategoryFilterFired', {});
      }
    },
    showResults() {
      this.$emit('showResults');
    },
    reset() {
      this.categoryIds = [];
      this.$router.push({
        path: this.$route.path,
        query: {},
      });
      this.applyCategoryFilter();
    },
  },
};
</script>
