<template>
  <div class="wrap">
    <button
      v-if="colorHexes.length"
      class="link-btn"
      @click="reset()"
    >
      Сбросить все
    </button>
    <div
      class="colors"
      v-for="color in colors"
      :key="color.id"
    >
      <span
        class="color"
        :class="{'white': color.color === '#ffffff' || color.color === '#FFFFFF'}"
        :style="`background: ${color.color}`"
      >
      </span>
      <label
        class="form-group"
        :for="`${color.id}_checkbox`">{{ color.title }}
        <input
          type="checkbox"
          @change="handleFilterCheckBoxChange"
          :value="color.color"
          v-model="colorHexes"
          :id="`${color.id}_checkbox`"
          class="filter-checkbox"
        >
        <span class="checkmark"></span>
      </label>
    </div>

    <button
      class="btn btn-primary btn-dark btn-large btn-full-w btn-apply"
      @click="showResults"
    >
      {{ emptyFilter ? 'Закрыть': `Показать результаты: ${resultCount}` }}
    </button>
  </div>
</template>

<script>
export default {
  name: 'ColorsFilter',
  props: {
    colors: {
      type: Array,
      required: true,
    },
    resultCount: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      colorHexes: [],
    };
  },
  mounted() {
    if (this.$route.query.clothes_color) {
      this.colorHexes = this.$route.query.clothes_color.split(',');
    }
  },
  computed: {
    emptyFilter() {
      return !this.colorHexes.length && this.resultCount === 0;
    },
  },
  methods: {
    handleFilterCheckBoxChange() {
      this.applyColorFilter();
    },
    applyColorFilter() {
      if (this.colorHexes.length) {
        this.$emit('onColorFilterFired', {
          clothes_color: this.colorHexes.reduce((f, s) => `${f},${s}`),
        });
      } else {
        this.$router.replace({
          path: this.$route.path,
        });
        this.$emit('onColorFilterFired', {});
      }
    },
    showResults() {
      this.$emit('showResults');
    },
    reset() {
      this.colorHexes = [];
      this.applyColorFilter();
    },
  },
};
</script>
<style scoped>
  .color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .form-group {
    flex: 1;
  }

  .color.white {
    border: 1px solid #979797;
  }

  .colors {
    display: flex;
    align-items: center;
  }
</style>
