<template>
  <div v-show="isOpen" class="full-page">
    <Header title="Фильтр" :back-btn="!!openedFilter">
      <template v-if="openedFilter" v-slot:left-button>
        <button @click="openedFilter = ''" class="btn-icon back-btn" />
      </template>
    </Header>
    <div class="container">
      <CategoriesFilter
        v-if="categories.length && openedFilter === 'category'"
        :types="types"
        :categories="categories"
        :result-count="resultCount"
        @onCategoryFilterFired="handleFilterFired"
        @showResults="emitClothes"
      />
      <ColorFilter
        v-if="colors.length && openedFilter === 'colors'"
        :colors="colors"
        :result-count="resultCount"
        @onColorFilterFired="handleFilterFired"
        @showResults="emitClothes"
      />
      <PriceFilter
        v-if="colors.length && openedFilter === 'cost'"
        :result-count="resultCount"
        @showResults="emitClothes"
        @onCostFilterFired="handleFilterFired"
      />
      <ul v-if="!openedFilter" class="filter-nav-list">
        <li class="nav-item" @click="navigateTo('category')">Категории</li>
        <li class="nav-item" @click="navigateTo('colors')">Цвета</li>
        <li class="nav-item" @click="navigateTo('cost')">Диапазон цен</li>
      </ul>
      <button
        v-if="!openedFilter"
        class="btn btn-primary btn-dark btn-large btn-full-w btn-apply"
        @click="emitClothes"
      >
        Закрыть
      </button>
    </div>
  </div>
</template>

<script>
import { clothesService } from '../../services/clothes';
import Header from '../Header.vue';
import CategoriesFilter from './CategoriesFilter.vue';
import ColorFilter from './ColorFilter.vue';
import PriceFilter from './PriceFilter.vue';

export default {
  name: 'FullPageFilters',
  components: {
    CategoriesFilter,
    ColorFilter,
    PriceFilter,
    Header,
  },
  props: {
    isOpen: {
      type: Boolean,
      required: true,
    },
    types: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      categories: [],
      resultCount: 0,
      colors: [],
      openedFilter: '',
      categoryParams: {},
      colorParams: {},
      costParams: {},
    };
  },
  mounted() {
    clothesService.getCategories().then((response) => {
      this.categories = response.data.results;
    });
    clothesService.getColors().then((response) => {
      this.colors = response.data.results;
    });
  },
  methods: {
    getCategoriesByTypeId(typeId) {
      return this.categories.filter((category) => category.clothes_type.id === typeId);
    },
    fetchClothes(params) {
      if (Object.keys(params).length) {
        console.log(params);
        clothesService.getClothes({
          clothes_brand: this.$route.params.username,
          ...params,
        })
          .then((response) => {
            this.resultCount = response.data.total_count;
          });
      } else {
        this.resultCount = 0;
      }
    },
    handleFilterFired(params) {
      this.categoryParams = {};
      this.colorParams = {};
      this.costParams = {};
      if ('clothes_category' in params) {
        this.categoryParams = params;
      } else if ('clothes_color' in params) {
        this.colorParams = params;
      } else {
        this.costParams = params;
      }
      this.fetchClothes({ ...this.categoryParams, ...this.colorParams, ...this.costParams });
    },
    emitClothes() {
      this.openedFilter = '';
      this.$router.replace({
        path: this.$route.path,
        query: {
          ...this.$route.query,
          ...this.categoryParams,
          ...this.colorParams,
          ...this.costParams,
        },
      });
      this.$emit('onFilterFired');
    },
    navigateTo(slug) {
      this.openedFilter = slug;
    },
  },
};
</script>

<style>
  .full-page {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 1001;
  }

  .container {
    padding: 0 20px;
  }

  .form-group {
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
  }

  .filter-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #979797;
    background-color: #FFFFFF;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .filter-checkbox:checked ~ .checkmark {
    background-color: #000000;
  }

  .filter-checkbox:checked ~ .checkmark:after {
    display: block;
  }

  .btn-apply {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 40px);
  }

  .wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
  }

  .filter-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    padding: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
  }

  .nav-item:after {
    content: '';
    width: 15px;
    height: 10px;
    right: 12px;
    top: 25px;
    transform: rotate(-90deg);
    background: url('../../assets/images/chevron.svg') no-repeat;
    position: absolute;
  }
</style>
