<template>
  <div class="wrap">
    <button
      v-if="costLt > 0"
      class="link-btn"
      @click="reset()"
    >
      Сбросить все
    </button>
    <div class="inputs">
      <FormulateInput
        v-model="costGt"
        label="Минимум"
        type="number"
        name="costGt"
        validation="required"
        @input="applyCostFilter"
      />
      <FormulateInput
        v-model="costLt"
        label="Максимум"
        type="number"
        name="costLt"
        validation="required"
        @input="applyCostFilter"
      />
    </div>
    <button
      class="btn btn-primary btn-dark btn-large btn-full-w btn-apply"
      @click="showResults"
    >
      {{ emptyFilter ? 'Закрыть': `Показать результаты: ${resultCount}` }}
    </button>
  </div>
</template>

<script>

export default {
  name: 'PriceFilter',
  props: {
    resultCount: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    if (this.$route.query.cost_gt) {
      this.costGt = this.$route.query.cost_gt
    }

    if (this.$route.query.cost_lt) {
      this.costLt = this.$route.query.cost_lt
    }
  },
  data() {
    return {
      costGt: 0,
      costLt: 0
    };
  },
  computed: {
    emptyFilter() {
      return this.resultCount === 0;
    },
  },
  methods: {
    showResults() {
      this.$emit('showResults');
    },
    applyCostFilter() {
      if (this.costLt > 0) {
        this.$emit('onCostFilterFired', {
          cost_gt: this.costGt,
          cost_lt: this.costLt
        });
      } else {
        this.$router.replace({
          path: this.$route.path,
        });
        this.$emit('onCostFilterFired', {})
      }
    },
    reset() {
      this.costGt = 0;
      this.costLt = 0;
      this.applyCostFilter();
    },
  },
};
</script>
<style scoped>
.inputs {
  margin-top: 15px;
}
</style>
