<template>
  <div class="wrap">
    <Header :back-btn="true" :title="'Моя корзина'" :cart-count="clothes.length">
      <template v-slot:left-button>
        <button @click="back" class="btn-icon back-btn" />
      </template>
    </Header>
    <div v-if="clothes.length" class="container">
      <Sum :cost="getSum" :delivery="0" :sum="getSum" />
      <OrderItem
        v-for="item in clothes"
        :key="item.id"
        :clothes="item"
        @onRemoveCartItem="removeCartItem"
        @onQuantityChanged="handleQuantityChanged"
      />
      <router-link
        class="btn btn-primary btn-dark btn-large btn-fixed"
        to="/order"
      >
        Оформить заказ
      </router-link>
    </div>
    <div class="empty-cart" v-else>
      <p class="empty-cart-text">Ваша корзина пуста</p>
    </div>
  </div>
</template>

<script>
import Header from '../components/Header';
import Sum from '../components/Cart/Sum';
import OrderItem from '../components/Cart/OrderItem';

export default {
  name: 'Cart',
  components: {
    OrderItem,
    Header,
    Sum
  },
  data() {
    return {
      clothes: [],
      quantities: {}
    }
  },
  computed: {
    getSum() {
      return this.clothes.reduce((acc, val) => {
        return acc + (val.cost * (val.count || 1));
      }, 0)
    }
  },
  mounted() {
    this.clothes = JSON.parse(localStorage.getItem('cart-items'));
  },
  methods: {
    removeCartItem(id) {
      const filtered = this.clothes.filter(item => item.id !== id);
      this.clothes = filtered;
      localStorage.setItem('cart-items', JSON.stringify(filtered));
    },
    handleQuantityChanged(quantities) {
      const clothes = this.clothes.map((item) => {
        item.count = quantities[item.id];
        return item;
      });
      this.clothes = clothes;
      localStorage.setItem('cart-items', JSON.stringify(clothes));
    },
    back() {
      this.$router.back();
    },
  }
};
</script>

<style scoped>
  .empty-cart {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .empty-cart-text {
    font-size: 24px;
    font-weight: 400;
  }
  .wrap {
    height: 100%;
  }
</style>
