<template>
  <div v-if="isClothesLoaded" style="padding-bottom: 80px">
    <Header :back-btn="true" :cart-count="cartItems.length">
      <template v-slot:left-button>
        <button @click="back" class="btn-icon back-btn" />
      </template>
    </Header>
    <div class="clothes-details">
      <Slider :images="coverImages" :height="300" />
      <p class="brand-title">{{ clothes.clothes_brand.title }}</p>
      <p class="description">{{ clothes.title }}</p>
      <p class="cost">{{ numberWithSeparators(clothes.cost) }} тг</p>
      <button
        @click="existInCart ? goToCart() : addToCart()"
        class="btn btn-primary btn-green btn-large btn-full-w btn-add-cart"
      >
        {{existInCart ? 'Перейти в корзину' : 'Добавить в корзину' }}
      </button>
    </div>
    <Accordion :opened="true" class="clothes-info-accordion">
      <template v-slot:header>
        <p class="clothes-accordion-title">Описание товара</p>
      </template>
      <template v-slot:content>
        <p class="product-description">{{ clothes.description }}</p>
        <p class="product-code">
          <strong>ID модели: </strong><span class="gray">{{ clothes.id || '' }}</span>
        </p>
        <p class="product-color">
          <strong>Цвет: </strong><span class="gray">{{ clothes.clothes_color || '' }}</span>
        </p>
      </template>
    </Accordion>
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import { clothesService } from '../services/clothes';
import Slider from '../components/Slider.vue';
import Accordion from '../components/Accordion';
import { numberWithSeparators } from '../utils'

export default {
  name: 'ClothesDetail',
  components: {
    Slider,
    Header,
    Accordion
  },
  props: ['clothesId'],
  data() {
    return {
      clothes: {},
      coverImages: [],
      cartItems: []
    };
  },
  computed: {
    existInCart() {
      return this.cartItems && this.cartItems.find(item => item.id === this.clothes.id);
    },
    isClothesLoaded() {
      return Object.keys(this.clothes).length
    }
  },
  mounted() {
    clothesService.getClothesById(this.clothesId).then((response) => {
      this.clothes = response.data;
      this.coverImages = response.data.cover_images;
    });

    const cartItems = JSON.parse(localStorage.getItem('cart-items'));
    if (cartItems) {
      this.cartItems = cartItems;
    }
  },
  methods: {
    back() {
      this.$router.back();
    },
    addToCart() {
      const cartItems = JSON.parse(localStorage.getItem('cart-items'));
      if (cartItems) {
        localStorage.setItem('cart-items', JSON.stringify([...cartItems, this.clothes]));
      } else {
        localStorage.setItem('cart-items', JSON.stringify([this.clothes]));
      }
      this.cartItems.push(this.clothes);
    },
    goToCart() {
      this.$router.push('/cart')
    },
    numberWithSeparators
  },
};
</script>

<style scoped>
  .clothes-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .description {
    margin-top: 10px;
    color: #B1B1B1;
    font-weight: 500;
  }

  .description,
  .cost {
    font-size: 18px;
  }

  .cost {
    margin-top: 10px;
    font-weight: 700;
  }

  .btn-add-cart {
    margin-top: 30px;
    width: calc(100% - 40px);
  }
  .clothes-info-accordion {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-code {
    margin-top: 18px;
    margin-bottom: 5px;
  }
  .clothes-accordion-title {
    font-size: 18px;
    font-weight: 600;
  }
  .product-description {
    margin-top: 18px;
  }
  .gray {
    color: #979797;
  }
</style>
