<template>
  <div class="wrap">
    <Loading v-if="loading" />
    <Header :back-btn="true" :title="'Оформление заказа'">
      <template v-slot:left-button>
        <button @click="back" class="btn-icon back-btn" />
      </template>
    </Header>
    <div class="container">
      <ContactsForm v-if="step === 1" @onSubmit="handleContactsFormSubmit" class="contacts-form" />
      <DeliveryForm v-if="step === 2" @onSubmit="handleDeliveryFormSubmit" class="delivery-form"/>
    </div>
  </div>
</template>

<script>
import Header from '../components/Header';
import ContactsForm from '../components/Order/ContactsForm';
import DeliveryForm from '../components/Order/DeliveryForm';
import Loading from '../components/Loading';
import { orderService } from '../services/order';

export default {
  name: 'Order',
  components: {
    ContactsForm,
    DeliveryForm,
    Loading,
    Header
  },
  data() {
    return {
      contacts: {},
      delivery: {},
      orderItems: [],
      loading: false,
      step: 1
    }
  },
  mounted() {
    this.orderItems = JSON.parse(localStorage.getItem('cart-items'));
  },
  methods: {
    back() {
      this.$router.back();
    },
    handleContactsFormSubmit(contactsData) {
      this.contacts = contactsData;
      this.step++;
    },
    prepareItemsData() {
      return this.orderItems.map((item) => {
        return {
          clothes: item.id,
          count: item.count,
          size: 1,
        }
      })
    },
    handleDeliveryFormSubmit(deliveryData) {
      this.delivery = deliveryData;
      this.loading = true;
      orderService.createOrder({
        items_meta_data: this.prepareItemsData(),
        payment_type: 'card',
        back_url: `${window.location.origin}/success`,
        customer: {
          first_name: this.contacts.firstName,
          last_name: this.contacts.lastName,
          phone_number: this.contacts.phone,
          email: this.contacts.email
        },
        delivery: {
          city: this.delivery.city,
          street: this.delivery.street,
          house: this.delivery.house,
          delivery_type: this.delivery.type,
          apartment: this.delivery.apartment
        }
      })
        .then((response) => {
          if (response.status === 201) {
            localStorage.removeItem('cart-items');
            location.replace(response.data.invoice.operation_url);
          }
        })
        .finally(() => {
          this.loading = false;
        })
    }
  }
};
</script>

<style scoped>
  .contacts-form,
  .delivery-form {
    margin-top: 35px;
  }
</style>
