<template>
  <div>
    <Header title="Публикация" :back-btn="true">
      <template v-slot:left-button>
        <button @click="back" class="btn-icon back-btn" />
      </template>
    </Header>
    <div class="container">
      <div v-if="post.clothes" class="outfit-details">
        <div class="post-header">
          <div class="author" @click="pushToProfile">
            <img
              v-if="post.author.avatar"
              class="author-avatar"
              :src="post.author.avatar" alt=""
            >
            <p class="author-name">{{ post.author.first_name }}</p>
          </div>
          <MenuDots />
        </div>
        <Slider :images="post.images" />
        <div class="horizontal-clothes-images">
          <div
            class="item-box"
            v-for="clothes in post.clothes"
            :key="clothes.id"
            @click="goToClothesDetail(clothes.id)"
          >
            <img
              class="items-img"
              :src="clothes.cover_images[0]"
              alt=""
            >
          </div>
        </div>
        <div class="actions">
          <button @click="openModal" class="btn-icon">
            <img class="like-icon" src="../assets/images/like.svg" alt="like">
          </button>
          <button @click="openModal" class="btn-icon">
            <img class="comment-icon" src="../assets/images/comment.svg" alt="comments">
          </button>
        </div>
        <div class="post-info">
          <p class="price">{{ numberWithSeparators(getPostCost()) }} тг</p>
          <p v-if="post.comments_count < 1" class="comments-count">0 комментариев...</p>
          <p v-else class="comments-count">Показать {{ post.comments_count }} комментариев...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { numberWithSeparators } from '../utils';
import Header from '../components/Header.vue';
import Slider from '../components/Slider';
import MenuDots from '../components/MenuDots';
import { postsService } from '../services/posts';
import RedirectToApp from '../components/Modals/RedirectToApp';

export default {
  name: 'OutfitsDetail',
  components: {
    Header,
    Slider,
    MenuDots
  },
  props: ['postId'],
  data() {
    return {
      post: {},
    };
  },
  beforeMount() {
    postsService.getPostById(this.postId).then((response) => {
      this.post = response.data;
    });
  },
  methods: {
    getPostCost() {
      return this.post.clothes.reduce((acc, clothes) => acc.cost + clothes.cost);
    },
    back() {
      this.$router.back();
    },
    goToClothesDetail(id) {
      this.$router.push({ path: `/s/${this.$route.params.username}/${id}` });
    },
    pushToProfile() {
      this.$router.push({ path: `/s/${this.post.author.username}/` });
    },
    openModal() {
      this.$FModal.show(
        {
          component: RedirectToApp,
          width: 300,
          maxHeight: '100%',
          placement: 'center center'
        }
      )
    },
    numberWithSeparators
  },
};
</script>

<style scoped>
.outfit-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.horizontal-clothes-images {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
}

.cover-img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid rgba(151, 151, 151, .2);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.item-box {
  width: 100px;
  min-width: 100px;
  height: 120px;
  display: flex;
  align-items: center;
  background: #D8D8D8;
  border-radius: 10px;
}

.item-box + .item-box {
  margin-left: 10px;
}

.items-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(151, 151, 151, .2);
}
.author {
  display: flex;
  align-items: center;
}

.author-name {
  margin-left: 10px;
}

.actions {
  margin-top: 15px;
  width: 70px;
  justify-content: space-between;
  display: flex;
}

.post-info {
  margin-top: 10px;
}

.comments-count {
  margin-top: 5px;
  color: #D4D4D4;
}

.like-icon {
  width: 30px;
  height: 30px;
}

.comment-icon {
  width: 30px;
  height: 30px;
}
</style>
