<template>
  <div>
    <Loading v-if="loading" />
    <Header :title="headerTitle"/>
    <div class="container">
      <ProfileHeader :profile="profile" />
      <MainFilters
        @onFilterOpened="handleFilterOpened"
        @onClothesFiltered="handleFiltered"
        @onClickAllPositions="fetchClothes"
        class="main-filters"
      />
      <Clothes v-if="showClothes" :clothes="clothes" />
      <Outfits v-else-if="showOutfits" :outfits="outfits" />
      <Posts v-else-if="showPosts" :posts="posts" />
    </div>
  </div>
</template>

<script>
import Loading from '../components/Loading.vue';
import ProfileHeader from '../components/ProfileHeader.vue';
import MainFilters from '../components/MainFilters.vue';
import Clothes from '../components/Clothes.vue';
import Outfits from '../components/Outfits';
import Posts from '../components/Posts';
import Header from '../components/Header.vue';
import { profileService } from '../services/profile';
import { clothesService } from '../services/clothes';
import { outfitsService } from '../services/outfits';
import { postsService } from '../services/posts';

export default {
  name: 'Store',
  components: {
    ProfileHeader,
    MainFilters,
    Loading,
    Outfits,
    Clothes,
    Posts,
    Header,
  },
  props: ['username'],
  data() {
    return {
      profile: {},
      clothes: [],
      posts: [],
      outfits: [],
      headerTitle: '',
      loading: false,
      showMode: 'clothes'
    };
  },
  computed: {
    showOutfits() {
      return this.showMode === 'outfits';
    },
    showPosts() {
      return this.showMode === 'posts';
    },
    showClothes() {
      return this.showMode === 'clothes';
    }
  },
  mounted() {
    this.fetchProfile();
    if (!Object.keys(this.$route.query).length) {
      this.fetchClothes();
    }
  },
  watch: {
    $route: {
      handler(to) {
        if (Object.keys(to.query)) {
          if (to.query.show) {
            if (to.query.show === 'outfits') {
              this.loading = true;
              this.fetchProfile().then(() => {
                this.fetchOutfits();
              }).finally(() => this.loading = false);
            } else {
              this.loading = true;
              this.fetchProfile().then(() => {
                this.fetchPosts();
              }).finally(() => this.loading = false);
            }
          } else {
            const params = {};
            // eslint-disable-next-line no-restricted-syntax
            for (const [key, value] of Object.entries(to.query)) {
              if (key !== 'show') {
                params[key] = value;
              }
            }
            this.loading = true;
            clothesService.getClothes({
              clothes_brand: this.username,
              ...params,
            })
              .then((clothesResponse) => {
                this.clothes = clothesResponse.data.results;
                this.showMode = 'clothes';
              })
              .finally(() => {
                this.loading = false;
              });
          }
        }
      },
      immediate: true,
    },
  },
  methods: {
    handleFiltered() {
      document.body.style.overflow = 'auto';
    },
    fetchClothes(gender) {
      this.loading = true;
      clothesService.getClothes({ clothes_brand: this.username, gender }).then((clothesResponse) => {
        this.clothes = clothesResponse.data.results;
        this.showMode = 'clothes';
      }).finally(() => {
        this.loading = false;
      });
    },
    handleFilterOpened() {
      document.body.style.overflow = 'hidden';
    },
    fetchOutfits() {
      outfitsService.getOutfits(this.profile.id).then((response) => {
        this.outfits = response.data.results;
        this.showMode = 'outfits';
      })
    },
    fetchPosts() {
      postsService.getPosts(this.profile.id).then((response) => {
        this.posts = response.data.results;
        this.showMode = 'posts';
      })
    },
    fetchProfile() {
      return profileService.getProfile(this.username).then((response) => {
        this.profile = response.data;
      });
    }
  },
};
</script>

<style scoped>
  .main-filters {
    margin-bottom: 20px;
  }
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
</style>
