<template>
  <div class="success">
    <img class="success-img" src="../assets/images/success-order.png" alt="">
    <p class="success-title">Заказ оплачен!</p>
    <p class="hint">Курьер созвонится с вами в ближайшее время</p>
  </div>
</template>

<script>
export default {
  name: 'SuccessOrder',
}
</script>

<style scoped>
  .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100%;
  }

  .success-img {
    width: 200px;
    height: 200px;
  }
  .success-title {
    margin-top: 35px;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
  }
  .hint {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    color: #979797;
  }
</style>
