<template>
  <article class="accordion" :class="accordionClasses">
    <div class="accordion-header" @click="toggleAccordion">
      <slot name="header"></slot>
    </div>
    <div class="accordion-body">
      <slot name="content"></slot>
    </div>
  </article>
</template>

<script>
export default {
  name: 'Accordion',
  props: {
    opened: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpen: this.opened,
    };
  },
  methods: {
    toggleAccordion() {
      this.isOpen = !this.isOpen;
    },
  },
  computed: {
    accordionClasses() {
      return {
        'is-closed': !this.isOpen,
        'is-primary': this.isOpen,
        'is-dark': !this.isOpen,
      };
    },
  },
};
</script>

<style scoped>
.accordion {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.accordion-header {
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid rgba(151, 151, 151, .2);
}
.accordion-header:after {
  content: '';
  width: 15px;
  height: 10px;
  right: 12px;
  top: 25px;
  background: url('../assets/images/chevron.svg') no-repeat;
  position: absolute;
  transition: transform .2s ease-in-out;
}
.is-primary .accordion-header:after {
  transform: rotate(-180deg);
  transition: transform .2s ease-in-out;
}
.accordion-body {
  padding: 0;
  max-height: 20em;
  overflow: hidden;
  transition: 0.3s ease all;
}
.is-closed .accordion-body {
  max-height: 0;
}
.accordion-content {
  padding: 20px;
}
</style>
