<template>
  <div class="clothes">
    <div
      class="clothes-box"
      v-for="item in clothes"
      :key="item.id"
      @click="goToClothesDetail(item.id)"
    >
      <div class="image-box">
        <img class="clothes-img" :src="item.cover_images[0]" alt="">
      </div>
      <p class="title">{{ item.clothes_brand.title }}</p>
      <p class="description">{{ item.title }}</p>
      <p class="price">{{ numberWithSeparators(item.cost) }}&nbsp;тг</p>
    </div>
  </div>
</template>

<script>
import { numberWithSeparators } from '../utils';
export default {
  name: 'Clothes',
  props: {
    clothes: {
      type: Array,
      required: true,
    },
  },
  methods: {
    goToClothesDetail(id) {
      this.$router.push({ path: `/s/${this.$route.params.username}/${id}` });
    },
    numberWithSeparators
  },
};
</script>

<style scoped>
  .clothes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }

  .clothes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    width: 100%;
    height: 235px;
    background: #F5F5F5;
    border-radius: 10px;
  }

  .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .description {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #B1B1B1;
  }

  .price {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
  }

  .clothes-img {
    width: 100%;
    object-fit: cover;
    height: 235px;
    border-radius: 10px;
  }

  @media only screen and (min-width: 768px) {
    .clothes {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .clothes {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }
  }

  @media only screen and (min-width: 1600px) {
    .clothes {
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }
  }
</style>
