<template>
  <div v-if="!appVisited" class="download-app-banner">
    <div @click="visited" class="left">
      <img class="close-icon" src="../assets/images/close.svg" alt="">
      <img class="app-logo" src="../assets/images/app-logo.png" alt="">
      <p class="app-text">
        <strong>Stylyts</strong> - находите, создавайте, покупайте ваши любимые образы!
      </p>
    </div>
    <a class="btn btn-primary btn-dark app-btn">Установить</a>
  </div>
</template>

<script>
export default {
  name: 'DownloadAppBanner',
  data() {
    return {
      appVisited: false
    }
  },
  mounted() {
    this.appVisited = JSON.parse(localStorage.getItem('app-visited'));
  },
  methods: {
    visited() {
      this.appVisited = true;
      localStorage.setItem('app-visited', JSON.stringify(true));
      window.location.reload();
    }
  }
}
</script>

<style scoped>
  .download-app-banner,
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .download-app-banner {
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 10000;
    background: #F5F5F5;
  }

  .close-icon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  .app-text {
    font-size: 12px;
  }

  .app-logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .app-btn {
    margin-left: 2px;
    margin-right: 2px;
  }
</style>
