<template>
  <div>
    <div class="header">
      <slot v-if="backBtn" name="left-button"></slot>
      <Burger v-if="!backBtn" :is-burger-active="sidebarIsOpen" @onBurgerClick="handleBurgerClick" />
      <p class="title">{{ title }}</p>
      <div class="cart-icon-wrap">
        <router-link to="/cart" class="btn-icon">
          <img src="../assets/images/shopping-cart.svg" alt="menu-icon">
          <div v-if="cartItemCount" class="cart-count">
            <p>
              {{ cartItemCount }}
            </p>
          </div>
        </router-link>
      </div>
    </div>
    <Sidebar :is-panel-open="sidebarIsOpen" @onBackdropClick="sidebarIsOpen = false" />
  </div>
</template>

<script>
import Burger from './Menu/Burger.vue';
import Sidebar from './Menu/Sidebar.vue';

export default {
  name: 'Header',
  props: {
    title: {
      type: String,
      required: false,
    },
    backBtn: {
      type: Boolean,
      required: false,
    },
    cartCount: {
      type: Number,
    }
  },
  components: {
    Burger,
    Sidebar,
  },
  data() {
    return {
      sidebarIsOpen: false,
      cartItems: [],
    };
  },
  computed: {
    cartItemCount() {
      return this.cartCount || (JSON.parse(localStorage.getItem('cart-items'))
        && JSON.parse(localStorage.getItem('cart-items')).length) || 0;
    }
  },
  methods: {
    handleBurgerClick() {
      this.sidebarIsOpen = !this.sidebarIsOpen;
    },
  },
};
</script>

<style scoped>
  .header {
    display: flex;
    padding: 20px;
    position: relative;
    justify-content: space-between;
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  .cart-icon-wrap {
    position: relative;
  }

  .cart-count {
    position: absolute;
    top: 14px;
    right: -5px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #29763A;
    border-radius: 50%;
    font-size: 14px;
    width: 18px;
    height: 18px;
  }
</style>
