<template>
  <div class="loading">
    <img class="spinner" src="../assets/images/oval.svg" alt="">
  </div>
</template>

<script>
export default {
  name: 'Loading',
};
</script>

<style scoped>
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .7);
  }

  .spinner {
    width: 48px;
    height: 48px;
  }
</style>
