<template>
  <div class="filters">
    <button @click="openFilterModal" class="btn filter-btn filter-call">
      <img class="filter-icon" src="../assets/images/filter.svg" alt="">
      <span>Фильтр</span>
    </button>
    <button
      class="btn filter-btn"
      @click="removeParams"
      :class="{'active': noQuery }"
    >
      Все&nbsp;позиции
    </button>
<!--    <button-->
<!--      class="btn filter-btn"-->
<!--      @click="getOutfits"-->
<!--      :class="{'active': outfitActive }"-->
<!--    >-->
<!--      Образы-->
<!--    </button>-->
    <button
      class="btn filter-btn"
      @click="getPosts"
      :class="{'active': postsActive }"
    >
      Публикации
    </button>
    <button
      class="btn filter-btn"
      @click="pushParams(type.id)"
      v-for="type in types"
      :key="type.id"
      :class="{'active': activeFilter === type.id}"
    >
      {{ type.title }}
    </button>
    <FullPageFilters
      @onFilterFired="emitClothes"
      :types="types"
      :is-open="isOpenFullWidthFilter"
    />
  </div>
</template>

<script>
import FullPageFilters from './Filter/FullPageFilters.vue';
import { clothesService } from '../services/clothes';

export default {
  name: 'MainFilters',
  components: {
    FullPageFilters,
  },
  data() {
    return {
      types: [],
      isOpenFullWidthFilter: false,
    };
  },
  mounted() {
    clothesService.getClothesTypes().then((response) => {
      this.types = response.data.results;
    });
  },
  computed: {
    activeFilter() {
      return Number(this.$route.query.clothes_type) || null;
    },
    noQuery() {
      return Object.keys(this.$route.query).length === 1 && 'gender' in this.$route.query;
    },
    outfitActive() {
      return this.$route.query.show === 'outfits';
    },
    postsActive() {
      return this.$route.query.show === 'posts';
    }
  },
  methods: {
    pushParams(typeId) {
      // eslint-disable-next-line no-unused-vars
      const { show, ...otherParams } = this.$route.query;
      this.$router.replace({
        path: this.$route.path,
        query: {
          ...otherParams, clothes_type: typeId,
        },
      });
    },
    getOutfits() {
      // eslint-disable-next-line no-unused-vars
      const { clothes_type, ...otherParams } = this.$route.query;
      this.$router.replace({
        path: this.$route.path,
        query: {
          ...otherParams, show: 'outfits',
        },
      });
      this.$emit('onClickOutfits');
    },
    getPosts() {
      // eslint-disable-next-line no-unused-vars
      const { clothes_type, ...otherParams } = this.$route.query;
      this.$router.replace({
        path: this.$route.path,
        query: {
          ...otherParams, show: 'posts',
        },
      });
      this.$emit('onClickPosts');
    },
    removeParams() {
      const { gender } = this.$route.query;
      this.$router.replace({ path: this.$route.path, query: { gender } });
      this.$emit('onClickAllPositions', gender);
    },
    openFilterModal() {
      this.isOpenFullWidthFilter = true;
      this.$emit('onFilterOpened');
    },
    emitClothes() {
      this.$emit('onClothesFiltered');
      this.isOpenFullWidthFilter = false;
    },
  },
};
</script>

<style scoped>
  .filters {
    display: flex;
    overflow-x: scroll;
    max-height: 32px;
    margin-top: 42px;
  }

  .filter-btn {
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .filters .btn + .btn {
    margin-left: 6px;
  }

  .filter-btn.active {
    background: #D8D8D8;
  }

  .filter-btn.filter-call {
    align-items: center;
    display: flex;
  }

  .filter-btn.filter-call span {
    margin-left: 5px;
  }

  .filter-icon {
    width: 20px;
    height: 20px;
  }

  @media only screen and (min-width: 520px) {
    .filters {
      justify-content: center;
    }
  }
</style>
