<template>
  <div class="menu-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</template>

<script>
export default {
  name: 'MenuDots'
}
</script>

<style scoped>
  .menu-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20px;
  }
  .dot {
    width: 6px;
    background: #2F3641;
    height: 6px;
    border-radius: 50%;
  }
</style>
