<template>
  <div class="clothes">
    <div
      class="clothes-box"
      v-for="item in posts"
      :key="item.id"
      @click="goToPostsDetail(item.id)"
    >
      <div class="image-box">
        <img class="clothes-img" :src="item.images[0]" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Posts',
  props: {
    posts: {
      type: Array,
      required: true,
    },
  },
  methods: {
    goToPostsDetail(id) {
      this.$router.push({ path: `/s/${this.$route.params.username}/posts/${id}` });
    },
  },
};
</script>

<style scoped>
.clothes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.clothes-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box {
  width: 100%;
  height: 235px;
  background: #F5F5F5;
  border-radius: 10px;
}

.clothes-img {
  width: 100%;
  object-fit: cover;
  height: 235px;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .clothes {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .clothes {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  .clothes {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}
</style>
