<template>
  <div class="profile">
    <img class="avatar" :src="profile.avatar" alt="">
    <p class="title">{{ profile.username }}</p>
    <div class="follows">
      <div class="follows-count" @click="openModal">
        <p class="follows-val">{{ profile.followers_count }}</p>
        <p class="follows-title">подписчики</p>
      </div>
      <div class="follows-count" @click="openModal">
        <p class="follows-val">{{ profile.followings_count }}</p>
        <p class="follows-title">подписки</p>
      </div>
    </div>
    <div class="actions">
      <button @click="openModal" class="btn btn-primary btn-yellow actions-follow">Подписаться</button>
      <select v-model="gender" @change="handleGenderChange" class="select actions-gender-select">
        <option value="F" selected="selected">Для нее</option>
        <option value="M">Для него</option>
      </select>
    </div>
  </div>
</template>

<script>
import RedirectToApp from './Modals/RedirectToApp';

export default {
  name: 'ProfileHeader',
  props: {
    profile: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      gender: 'F',
    };
  },
  mounted() {
    this.$router.push({
      path: this.$route.path,
      query: { ...this.$route.query, gender: this.gender },
    });
  },
  methods: {
    handleGenderChange(e) {
      this.$router.push({
        path: this.$route.path,
        query: { ...this.$route.query, gender: e.target.value },
      });
    },
    openModal() {
      this.$FModal.show(
        {
          component: RedirectToApp,
          width: 300,
          maxHeight: '100%',
          placement: 'center center'
        }
      )
    }
  },
};
</script>

<style scoped>
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(151, 151, 151, .5);
  }

  .title {
    margin-top: 10px;
    font-size: 20px;
  }

  .follows {
    display: flex;
    line-height: 1.2;
    margin-top: 15px;
    text-align: center;
  }

  .follows-count + .follows-count {
    margin-left: 20px;
  }

  .follows-title {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 400;
  }

  .actions {
    margin-top: 15px;
  }

  .actions-gender-select {
    margin-left: 10px;
    min-width: 86px;
  }
</style>
