<template>
  <div>
    <div class="relative" :style="imgSize">
      <transition name="fade">
        <div>
          <div v-for="i in [currentIndex]" :key='i' :style="imgSize">
            <img
              v-touch:swipe.left="prev"
              v-touch:swipe.right="next"
              width="100%"
              :src="currentImg"
              alt=""
            />
          </div>
        </div>
      </transition>
    </div>
    <div v-if="images.length > 1" class="dots">
      <span class="dot" :class="{'active' : i === currentImg}" v-for="i in images" :key="i"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Slider',
  data() {
    return {
      currentIndex: 0,
    };
  },
  props: {
    images: Array,
    height: {
      type: Number,
    },
    width: {
      type: Number,
    },
  },
  methods: {
    next() {
      this.currentIndex += 1;
    },
    prev() {
      this.currentIndex -= 1;
    },
  },
  computed: {
    currentImg() {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    },
    imgSize() {
      return {
        height: `${this.height}px`,
        width: this.width ? `${this.width}px` : '100%',
      };
    },
  },
};
</script>

<style scoped>
.relative {
  position: relative;
}
.fade-enter-active, .fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width:100%;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  visibility: hidden;
  width:100%;
  opacity: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  user-select: none;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}

.dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.dot {
  background-color: #B1B1B1;
  content:'';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dot.active {
  background-color: #EA9F5A;
}

.dot + .dot {
  margin-left: 5px;
}
</style>
