<template>
  <div style="height: 100%">
    <DownloadAppBanner />
    <div style="height: 100%" :class="{ 'pt': !visited }">
      <router-view v-slot="{ Component }">
        <transition name="slide">
          <component :is="Component" />
        </transition>
      </router-view>
    </div>
  </div>
</template>

<script>
import DownloadAppBanner from './components/DownloadAppBanner';

export default {
  name: 'App',
  components: {
    DownloadAppBanner
  },
  data() {
    return {
      visited: false
    }
  },
  mounted() {
    this.visited = JSON.parse(localStorage.getItem('app-visited'));
  },
};
</script>
<style>
@import './global.css';

.pt {
  padding-top: 68px;
  height: 100%;
}

.slide-enter-active {
  transition: all 0.3s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter {
  position: absolute;
  right: -100%;
}
</style>
