@import './assets/fonts/fonts.css';
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: #2F3641;
}

p {
  margin: 0;
  padding: 0;
}

.btn-icon {
  background: transparent;
  border: none;
  padding: 0;
}

.btn {
  border: 1px solid rgba(151, 151, 151, 0.620493);;
  border-radius: 5px;
  padding: 8px;
  background: #FFFFFF;
  color: #2F3641;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.btn:disabled {
  background: #979797;
  color: #FFFFFF;
}

.btn-primary {
  color: #FFFFFF;
  font-weight: 600;
  border: none;
}

.btn-yellow {
  background: #EA9F5A;
}

.btn-green {
  background: #29763A;
}

.btn-dark {
  background: #2F3641;
}

.btn-fixed {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
}

.link-btn {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: #2F3641;
  padding: 0;
}

.btn-large {
  padding: 15px;
  border-radius: 10px;
}

.btn-full-w {
  width: 100%;
}

.select {
  position: relative;
  padding-left: 10px;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  font-weight: 600;
  background-size: 10px 10px;
  background: #FFFFFF url(./assets/images/chevron.svg) no-repeat calc(100% - 10px) center;
  color: #2F3641;
  border: 1px solid rgba(151, 151, 151, 0.620493);;
  height: 32px;
}

.select-lg {
  border-radius: 10px;
  height: 38px;
  font-weight: 400;
  padding-right: 30px;
  font-size: 14px;
  border: 1px solid #979797;
}

.back-btn:after {
  content: '';
  width: 15px;
  height: 10px;
  left: 20px;
  top: 30px;
  transform: rotate(90deg);
  background: url('./assets/images/chevron.svg') no-repeat;
  position: absolute;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.formulate-input-element input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(151, 151, 151, .2);
}

.formulate-input-label {
  font-size: 12px;
  font-weight: 500;
  color: #B1B1B1;
  position: relative;
  top: -6px;
}

.formulate-input-errors {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.formulate-input-errors > li {
  font-size: 12px;
  color: red;
  font-weight: 400;
}

.formulate-input {
  height: 59px;
}

.formulate-input + .formulate-input {
  margin-top: 10px;
}
